.icon__wrapper {
  display: inline-block;
  @apply p-3;
  @apply rounded-full;
  @apply shadow-lg;
  transition: all 0.2s ease-in;
}

.icon__wrapper:hover {
  transform: rotate(10deg);
  @apply shadow-2xl;
  @apply bg-primary;
}
