.header {
  @apply h-screen;
  position: relative;
}

.header__decoration {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -10;
}

.header__decoration > img {
  max-height: 400px;
}

/* Nav */
.nav {
  height: 70px;
  width: 90%;
}

.nav__list--item:hover {
  @apply text-accent;
}

.active {
  @apply font-bold;
}

/* Hero */
.hero {
  height: calc(100vh - 70px);
  width: 90%;
}

.btn {
  @apply py-3;
  @apply px-8;
  @apply shadow-lg;
  transition: all 0.2s ease-in;
}

.btn:hover {
  background-color: transparent;
  @apply border-bg;
  @apply text-primary;
  @apply shadow-xl;
}

.hero__buttons--secondary,
.contact__button {
  @apply border;
  @apply border-solid;
  @apply border-accent;
}
