.hero {
  position: relative;
  @apply leading-none;
}

.hero__image {
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.hero__content {
  @apply text-center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 60%;
}

@screen md {
  .hero__image {
    position: static;
  }
  .hero__content {
    @apply text-left;
    align-items: start;
    padding-top: 0%;
  }
}

.hero__chevron {
  position: absolute;
  bottom: 0.1em;
  left: 50%;
  transform: translateX(-50%);
}

/* .hero__chevron:hover {
  animation: name duration timing-function delay iteration-count direction
    fill-mode;
} */
