.project {
  max-width: 900px;
  margin: 0 auto;

  @apply mb-16;
}

.project__image {
  width: 80%;
  margin: 0 auto;
  @apply shadow-xl;
}

.project__card {
  @apply -mt-10;
  @apply pt-16;
}

@screen md {
  .project {
    display: flex;
    justify-content: center;
  }
  .project__image {
    width: 100%;
    width: 35%;
    margin: 0;
    justify-self: right;
    align-self: center;
    margin-right: -20px;
  }

  .project__card {
    @apply mt-0;
    @apply pt-10;
    width: 65%;
    margin-left: -20px;
  }
}

.project__btn {
  @apply border;
  @apply border-solid;
  @apply border-accent;
}

.project__icon__wrapper {
  transition: all 0.2s ease-in;
}

.project__icon__wrapper:hover {
  transform: rotate(10deg);
  @apply shadow-2xl;
}
