.skills__card {
  width: 80%;
  margin: 0 auto;
  @apply bg-secondary p-8 shadow-lg;
}

.card--icon {
  @apply mb-3 mx-auto;
}

.card--title {
  @apply font-bold text-xl mb-3;
}

.skills__additional--skill {
  @apply flex items-center justify-center mb-5;
}

.additional--skill--text {
  @apply font-semibold ml-5;
}

@screen md {
  .skills__card {
    width: 100%;
  }
}
